altgraph==0.17.2
atomicwrites==1.4.0
charset-normalizer==2.1.0
cookiecutter==1.7.3
Cython==0.29.32
et-xmlfile==1.1.0
future==0.18.2
idna==3.3
intervaltree==3.1.0
keyring==23.2.1
numpy==1.23.1
numpydoc==1.1.0
openpyxl==3.0.10
pandas==1.4.3
paramiko==2.7.2
peewee==3.15.1
pefile==2022.5.30
pexpect==4.8.0
pyDes==2.0.1
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
pyls-spyder==0.4.0
PyMySQL==1.0.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-dateutil==2.8.2
pytz==2022.2.1
pywin32==304
pywin32-ctypes==0.2.0
requests==2.28.1
six==1.16.0
urllib3==1.26.11
wincertstore==0.2
WMI==1.5.1
xlrd==2.0.1
